<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBh_VKZCjmwiZx2EJP0PoTa64H3ldO-FsU</string>
	<key>GCM_SENDER_ID</key>
	<string>279897198801</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.quantumlab.quantumlab</string>
	<key>PROJECT_ID</key>
	<string>quantum-lab-zf</string>
	<key>STORAGE_BUCKET</key>
	<string>quantum-lab-zf.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:279897198801:ios:af9b8e56c8204d8d2435f0</string>
</dict>
</plist>